.title {
  line-height: 1.5em;
}

.subtitle {
  font-size: 1.8em;
  line-height: 1.5em;

}

.p {
  text-align: justify;
  text-align-last: justify;
  max-width: 40vw;
}

.frontpage-title {
  font-size: 5vw;
  font-family: 'digitalix';
}

.frontpage-title a {
  color: #1111BD;
  text-decoration: none;
  font-weight: bold;
}


.bottom-text-center{ 
  position: absolute;
  bottom: 1rem;
  font-size: 14px;
  line-height: 1; /* ensures equal vertical height */
  z-index: 1000;
}

.bottom-text-center {
  left: 50%;
  transform: translateX(-50%);
}

.bottom-text-center a {
  text-decoration: none; /* optional */
  line-height: 1; /* align text vertically */
  vertical-align: bottom; /* forces alignment baseline */
  display: inline-block; /* ensures it respects vertical alignment */
}

@font-face {
  font-family: 'digitaldisco-thin';
  src: url('fonts/digital_disco/DigitalDisco-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'digitaldisco';
  src: url('fonts/digital_disco/DigitalDisco.woff2') format('woff2');
}

@font-face {
  font-family: 'digitalix';
  src: url('fonts/digitalix/digitalix.woff2') format('woff2');
}