html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
  line-height: 1.5em;
}