html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.links {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.9rem;
  z-index: 1000;
}
